<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='website/index.css') }}"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="home">
    <header>
      <div class="hea">
        <div class="logo">
          <h1>
            <span>P</span>RICE <span style="padding-left: 10px">T</span>AG
          </h1>
        </div>

        <div class="menu">
          <a href="#" style="display: none">About Us</a>
          <a href="#" style="display: none">Sites</a>
          <a href="{{ url_for('user.login') }}">Log Out</a>
          <a href="{{ url_for('user.profile')}}">Profile</a>
          <a href="{{ url_for('views.dashboard', token=token) }}">Dashboard</a>
          <a href="{{ url_for('views.home')}}" class="hom">Home</a>
                    <a href="{{ url_for('notifications.notification')}}">Notifications</a>

        </div>
      </div>
    </header>
    <!-- welcome,{{email}} -->

    <form method="post">
      <h2>Search Products</h2>
      <br />
      <div class="serdiv">
        <input
          class="search"
          type="text"
          name="search"
          placeholder="Paste The Product URL  And Press Enter"
          autocomplete="off"
          tabindex="-1"
          aria-hidden="true"
        />
      </div>
      <div style="text-align: center">
        <input button type="submit" name="search" value="search" />
      </div>
    </form>

      <table id="flashmsg">
        {% if results %}
        {% for result in results %}
        <form method="post">
           {% if result.get("google_product_id", None) %}
            <input type="hidden" name="google_product_id" value="{{ result.pop('google_product_id') }}" />
           {% endif %}
          <tr rowspan="2">
          {% for key, value in result.items() %}
            {% if key=="img" %}
            <td>
                  <input type="hidden" name="{{ key }}" value="{{ value }}" />
                  <img
                    src="{{ value }}"
                    style="width: 110px; height: 110px"
                  />
            </td>
            {% elif key=="url" %}
            <td>
                  <input type="hidden" name="{{ key }}" value="{{ value }}" />
                  <a href="{{ value }}" />Buy Now</a>
            </td>
            {% else %}
            <td>
              <input type="hidden" name="{{ key }}" value="{{ value }}" />{{ value }}
            </td>

            {% endif %}

          {% endfor %}
            <td>
              <input
                    type="number"
                    name="dprice"
                    placeholder="Enter desired price:"
                    required
              />Enter the desired price to track.
            </td>
            <td>
                <button type="submit" name="traceprice" onclick="{{ window }}">
                  Track Price
                </button>
            </td>
          </tr>
        </form>
        {% endfor %}
        {% endif %}
      </table>
  </body>
</html>
